body{
  margin:0;
  font-family:Segoe UI, sans-serif;
  background:#000;
  color:white;
}

body.light{
  background:#eee;
  color:black;
}

/* TOP BAR */
.top-bar{
  position:fixed;
  top:0;
  width:100%;
  height:60px;
  background:rgba(0,0,0,0.7);
  backdrop-filter:blur(20px);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 15px;
}

body.light .top-bar{
  background:rgba(0,0,0,0.8);
  color:white;
}

.search{
  width:40%;
  padding:8px 15px;
  border-radius:20px;
  border:none;
  outline:none;
}

/* BELL */
.bell{
  cursor:pointer;
}

.shake{
  animation:shake 0.4s;
}
@keyframes shake{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(10deg)}
  50%{transform:rotate(-10deg)}
  75%{transform:rotate(10deg)}
  100%{transform:rotate(0deg)}
}

/* NOTIFICATION PANEL */
.notify-panel{
  position:fixed;
  top:60px;
  right:-300px;
  width:250px;
  height:100%;
  background:rgba(0,0,0,0.8);
  backdrop-filter:blur(20px);
  padding:20px;
  transition:0.5s;
}
.notify-panel.show{
  right:0;
}

/* SETTINGS */
.settings-panel{
  position:fixed;
  bottom:-300px;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  max-width:350px;
  background:rgba(0,0,0,0.85);
  backdrop-filter:blur(20px);
  border-radius:20px 20px 0 0;
  padding:25px;
  transition:0.4s;
}

.settings-panel.show{
  bottom:0;
}

.setting-btn{
  background:rgba(255,255,255,0.15);
  padding:15px;
  border-radius:20px;
  margin-bottom:15px;
  text-align:center;
  cursor:pointer;
}

/* BOTTOM NAV */
.bottom-nav{
  position:fixed;
  bottom:15px;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  max-width:400px;
  height:65px;
  background:rgba(0,0,0,0.85);
  backdrop-filter:blur(20px);
  border-radius:40px;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

body.light .bottom-nav{
  background:rgba(0,0,0,0.9);
}

/* BUTTONS */
.nav-btn{
  width:45px;
  height:45px;
  border-radius:50%;
  background:rgba(255,255,255,0.2);
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:0.3s;
}

.nav-btn:hover{
  background:rgba(255,255,255,0.5);
  transform:scale(1.15);
}


