<!DOCTYPE html>
<html>
<head>
<title>Admin Panel</title>
<style>
body{
    background:black;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}
.box{
    background:#111;
    padding:40px;
    border-radius:15px;
    text-align:center;
}
a{
    display:block;
    margin:10px;
    color:#00f2fe;
    text-decoration:none;
}
</style>
</head>
<body>
<div class="box">
<h2>Talkk Control Panel</h2>
<p>Status: {{ "ON" if not status else "OFF" }}</p>
<a href="/admin-on">Turn ON</a>
<a href="/admin-off">Turn OFF</a>
</div>
</body>
</html>
