<!DOCTYPE html>
<html>
<head>
<title>Talkk</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body{
    margin:0;
    height:100vh;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Segoe UI, sans-serif;
}

video{
    width:160px;
    max-width:70%;
    border-radius:20px;
    box-shadow:0 0 30px rgba(255,255,255,0.25);
}
</style>
</head>

<body>

<video id="vid" muted autoplay playsinline webkit-playsinline>
    <source src="/static/intro.mp4" type="video/mp4">
</video>

<script>
const v = document.getElementById("vid");

v.onended = ()=>{
    window.location.href="/login";
};

setTimeout(()=>{
    v.play().catch(()=>{});
},300);
</script>

</body>
</html>

