<!DOCTYPE html>
<html>
<head>
<title>Talkk</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body,html{
    margin:0;
    height:100%;
    background:black;
}

video{
    width:100%;
    height:100%;
    object-fit:cover;
}
</style>
</head>

<body>

<video id="vid" muted autoplay playsinline webkit-playsinline>
    <source src="/static/intro.mp4" type="video/mp4">
</video>

<script>
const v = document.getElementById("vid");

v.onended = () => {
    window.location.href="/login";
};

setTimeout(()=>{
    v.play().catch(()=>{});
},300);
</script>

</body>
</html>
